html, body {
    height: 90%;
    background-color: gray;
    font-family: "Verdana", sans-serif;
}

#header {
    height: 10%;
    color: gold;
    text-align: center;
}

#map-canvas {
    height: 90%;
}
