/*
 * Custom styling
 * Michael Guida
 */

html, body {
    height: 90%;
    background-color: #3DBBCC;
    font-family: "Verdana", sans-serif;
}

#header {
    height: 10%;
    background-color: #4C797F;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}

#map-canvas {
    height: 90%;
}